<div data-controller="chess-board"
     data-chess-board-fen-value="<%= fen %>"
     data-chess-board-orientation-value="<%= orientation %>"
     data-chess-board-interactive-value="<%= interactive %>"
     class="w-full max-w-md">
  <div data-chess-board-target="container" class="aspect-square w-full"></div>
</div>
